body {
	font-size: 18px;
	background-color: moccasin;
	font-family: 'Dancing Script', cursive;
}
/*header*/
#header-nav {
	background-color: gold;
	box-shadow: 0 0 80px #333300;
	border-radius: 0;
	border: 0;
}
#header-nav button {
    margin-top: 22px;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {

    background-color: #cfd8dc;
}
.navbar-collapse {
    border-top: 0;
}
.navbar-brand, .navbar-nav li a {
    line-height: 76px;
    height: 76px;
    padding-top: 0;
}
.navbar-brand h1 {
	font-family: 'Metal Mania', cursive;
	color: #000;
	font-size: 2em;
	clear: right;
	float: left;
}
.navbar-brand a:hover {
	text-decoration: none;
	text-shadow: 1px 1px 1px #222
}
#nav-list {
	background-color: #ffd500;
}
#nav-list a {
	font-weight: bolder;
	color: #222;
	font-size: 1.5em;
}
#nav-list a:hover {
	text-decoration: none;
	background-color: moccasin;
} 
/*end of header*/

/*home tiles*/
#main-content {
    width: 92%;
    margin-bottom: 30px;
}
h2 {
	font-weight: 6;
	font-family: 'Metal Mania', cursive;
	font-size: 2.3em;
	margin-top: 40px;
	margin-bottom: 50px;
}
h3 {
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 1em;
}
#chicken-tile, #beef-tile, #sushi-tile {
	padding: 20px;
	width: 100%;
	background-color: gold;
	margin-bottom: 50px;
	box-shadow: 0 1px 70px #333300;
}
.navbar-toggle button {
	margin-left: 70px;
}
.back a:hover {
	text-decoration: none;
	color: #222;
	text-shadow: 1px 1px 1px #222;
}
.back a {
	font-weight: bold;
	font-size: 1.2em;
	color: #222;
}
@media (min-width: 786px) {
	.navbar-toggle {
		display: none;
	}
}
/*end of home tile*/